/*Note: There are three different ways to add background colors here.
You can add them using a name (for common names), Hex, or RGB values.
*/

body {
  background-color: gray;
}

#div-1 {
  border: 20px solid black;
  background-color: red;
  position: ;
  display: inline;
  width: 25em;
  height: 25em;
  /*bottom: 0;*/
  left: 0;
}
#div-2 {
  background-color: #e67e22;
  width: 25em;
  height: 25em;
/*  margin-left: 5em;
  margin-top: 5em;*/
  top: 0;
  width: 50%;
  position: fixed;
  margin-left: auto;
  left: 0;
  margin-right: auto;
  right: 0;
  border-bottom-left-radius: 100px;
}
#div-3 {
  background-color: SlateBlue;
  position: absolute;
  top: 0;
  /*left: 30px;*/
  width: 15%;
  height: 100%;
  display: inline-block;
  /*width: 5em;*/
  /*height: 5em;*/
/*  margin-left: 5em;
  margin-top: 5em;*/
  right: 0;
}
#div-4 {
  background-color: rgba(22, 160, 133,1.0);
  width: 300px;
  height: 10em;
  position: fixed;
  /*top: 100px;*/
  left: 200px;
  height: 100px;
  display: inline-block;
  margin-left: 20em;
  margin-top: -20em;
  border-radius: 100%;
}
